input  {border-radius:0px;  }



input, textarea {
  border: none; background:transparent;}

textarea {height: 150px; font-family: "nueva-std-condensed"; font-size:21px; width:100%;}

input:focus, textarea:focus { outline: none;}

input {font-size:16px;}

fieldset {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    
    padding-bottom: 0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: none;

    position:relative;
}

#ajax-contact {box-sizing: border-box;}

#form-messages {  display: inline-block; color:black;}

.myButton {
	background-color:#a5af96;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:1px solid #404040;
	display:inline-block;
	cursor:pointer;
	color:white;
	
	font-size:21px;
	padding:13px 25px;
	text-decoration:none;
	font-family: "nueva-std-condensed";
}
.myButton:hover {
	background-color:#838d75;
}

.myButton:active {
	position:relative;
	top:1px;
}

.antispam { display:none;}

*, *:before, *:after {
  box-sizing: border-box;
}


 input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-bottom: 2px solid #393a3b;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
    color: #555555;
    
    
    height: 29px;
    line-height: 29px;
    margin-bottom: 21px;
    
    vertical-align: middle;
    font-family: "nueva-std-condensed";
    font-size:21px; 
    display:block; 
    
    width:200px;
}